<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>
          Created by  {{name}}
        </p>
        <img class="portrait" src="./css/img/image 1.png">
    </body>
    {{>footer}}
</html>